


.btn-dev1{
    background-color: #07e8a8;
    border: 4px solid #0c770c;
    border-radius: 16px;
    color: #13453c;

}

.btn-dev1:hover{
    background-color: #08936c;
    border: 4px solid #084108;
    color: #13453c;

}



